@model ProvidentFund.Core.Models.LoanInformationModel
@{
    ViewData["Title"] = "CreateAsync";
}

<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <span class="main-content-title mg-b-0 mg-b-lg-1">Loan Information</span>
    </div>
    <div class="justify-content-center mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item tx-15"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Loan Information</li>
        </ol>
    </div>
</div>
<!-- /breadcrumb -->
<div class="row row-sm">
    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
        <div class="card  box-shadow-0">
            <div class="card-header">
                <h4 class="card-title mb-1">Loan Information Entry</h4>
   
            </div>
            <div class="card-body pt-0">
                <form class="form-horizontal" asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Loan Type</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">

                            <select class="form-control form-select select2" data-bs-placeholder="Please Select Loan Type" asp-for="LoanTypeName" asp-items="@ViewBag.LoanTypeNames">
                            </select>
                            <span asp-validation-for="LoanTypeName" class="text-danger"> </span>

                        </div>
                    </div>
                    <div class="row row-xs align-items-center mg-b-20">
                    <div class="col-md-4">
                            <label class="form-label mg-b-0">Loan No</label>
                    </div>
                    <div class="col-md-8 mg-t-5 mg-md-t-0">
                    <input class="form-control" asp-for="LoanNo" placeholder="Enter Loan No" type="text">
                            <span asp-validation-for="LoanNo" class="text-danger"></span>
                    </div>

                    </div>
                    
                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Employee</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <select class="form-control form-select select2" id="EmpolyeeId" data-bs-placeholder="Please Select Branch" asp-for="EmpolyeeId" asp-items="@(ViewBag.Employee as SelectList)">
                            </select>
                            <span asp-validation-for="EmpolyeeId" class="text-danger"> </span>
                        </div>
                    </div>
                   
                    <div class="row row-xs align-items-center mg-b-20">
                    <div class="col-md-4">
                        <label class="form-label mg-b-0">Bank Name</label>
                    </div>
                            <div class="col-md-8 mg-t-5 mg-md-t-0">
                                <select class="form-control form-select select2" data-bs-placeholder="Please Select Bank" asp-for="BankId" asp-items="@(ViewBag.Bank as SelectList)">
                                </select>
                                <span asp-validation-for="BankId" class="text-danger"> </span>
                            </div>                      
                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Bank Branch Name</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">

                            <select class="form-control form-select select2" data-bs-placeholder="Please Select Bank Branch" asp-for="BankBranchId" asp-items="@(ViewBag.BankBranch as SelectList)">
                            </select>
                            <span asp-validation-for="BankBranchId" class="text-danger"> </span>

                        </div>
                    </div>
                    
                    <div class="row row-xs align-items-center mg-b-20">
                    <div class="col-md-4">
                            <label class="form-label mg-b-0">Senction Date</label>
                    </div>
                    <div class="col-md-5 mg-t-5 mg-md-t-0">
                    <div class="input-group">
                    <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                    </span>
                    <input asp-for="SenctionDate" type="date" id="SenctionDate" class="form-control" style="padding-left: 5px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;" required />
                    </div>
                            <span asp-validation-for="SenctionDate" class="text-danger"></span>
                    </div>
                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Senction Amount</label>
                        </div>
                        <div class="col-md-4 mg-t-3 mg-md-t-0">
                            @*<input class="form-control text-right" asp-for="RateOfInterest" type="number" min="1" autocomplete="off" onkeypress="return isNumberKey(event)>*@
                            <input asp-for="SenctionAmount" autocomplete="off" type="number" class="form-control text-right" id="SenctionAmount" step=".01" min="0" onkeypress="return decimalCheck(this, event);" />

                            <span asp-validation-for="SenctionAmount" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Particulars Of Security</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">

                            <select class="form-control form-select select2" data-bs-placeholder="Please Select Particulars Of Security" asp-for="ParticularsOfSecurity" >
                                <option value="Bank Cheque">Bank Cheque</option>
                                <option value="Land">Land</option>
                            
                            </select>
                            <span asp-validation-for="ParticularsOfSecurity" class="text-danger"> </span>

                        </div>
                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Security Value</label>
                        </div>
                        <div class="col-md-4 mg-t-3 mg-md-t-0">
                            @*<input class="form-control text-right" asp-for="RateOfInterest" type="number" min="1" autocomplete="off" onkeypress="return isNumberKey(event)>*@
                            <input asp-for="mSecurityValue" autocomplete="off" type="number" class="form-control text-right" id="mSecurityValue" step=".01" min="0" onkeypress="return decimalCheck(this, event);" />

                            <span asp-validation-for="mSecurityValue" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Loan Purpose</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">

                            <select class="form-control form-select select2" data-bs-placeholder="Please Select Loan Purpose" asp-for="LoanPurpose">
                                <option value="Business">Business</option>
                                
                            </select>
                            <span asp-validation-for="LoanPurpose" class="text-danger"> </span>

                        </div>
                    </div>
                   
                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Duration Month</label>
                        </div>
                        <div class="col-md-4 mg-t-3 mg-md-t-0">
                            <input class="form-control text-right" asp-for="DurationMonth" id="DurationMonth" type="number" min="1" autocomplete="off" onkeypress="return isNumberKey(event);" />
                            <span asp-validation-for="DurationMonth" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Transation Date</label>
                        </div>
                        <div class="col-md-5 mg-t-5 mg-md-t-0">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input asp-for="TransactionDate" type="date" id="TransactionDate" class="form-control" style="padding-left: 5px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;" required />
                            </div>
                            <span asp-validation-for="TransactionDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Rate Of Interest</label>
                        </div>
                        <div class="col-md-4 mg-t-3 mg-md-t-0">
                            @*<input class="form-control text-right" asp-for="RateOfInterest" type="number" min="1" autocomplete="off" onkeypress="return isNumberKey(event)>*@
                            <input asp-for="RateOfInterest"  autocomplete="off" type="number" class="form-control text-right" id="RateOfInterest" step=".01" min="0" onkeypress="return decimalCheck(this, event);" />

                             <span asp-validation-for="RateOfInterest" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">No Of Installment</label>
                        </div>
                        <div class="col-md-4 mg-t-3 mg-md-t-0">
                            <input class="form-control text-right" asp-for="NoOfInstallment" id="NoOfInstallment" type="number" min="1" autocomplete="off" onkeypress="return isNumberKey(event);" />
                            <span asp-validation-for="NoOfInstallment" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Amount Per Installment</label>
                        </div>
                        <div class="col-md-4 mg-t-3 mg-md-t-0">
                            <input asp-for="AmountPerInstallment" autocomplete="off" type="number" class="form-control text-right" id="AmountPerInstallment" step=".01" min="0" onkeypress="return decimalCheck(this, event);" />

                            <span asp-validation-for="AmountPerInstallment" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Expiry Date</label>
                        </div>
                        <div class="col-md-5 mg-t-5 mg-md-t-0">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input asp-for="ExpiryDate" type="date"  id="ExpiryDate" class="form-control" style="padding-left: 5px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;" required />
                            </div>
                            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Recommending Officer Name</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">

                            <select class="form-control form-select select2" data-bs-placeholder="Please Select Recommending Officer Name" asp-for="RecommendingOfficerName">
                                <option value="Uthpal Barua">Uthpal Barua</option>

                            </select>
                            <span asp-validation-for="RecommendingOfficerName" class="text-danger"> </span>

                        </div>
                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Field Office Name</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">

                            <select class="form-control form-select select2" data-bs-placeholder="Please Select Field Officer Name" asp-for="FieldOfficerName">
                                <option value="Uthpal Barua">Uthpal Barua</option>
                            </select>
                            <span asp-validation-for="FieldOfficerName" class="text-danger"> </span>

                        </div>
                    </div>


                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Loan Type</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">

                            <select class="form-control form-select select2" data-bs-placeholder="Please Select Loan Type" asp-for="NewOld" id="LoanType">
                                <option value="New">New</option>
                                <option value="Old">Old</option>
                            </select>
                            <span asp-validation-for="NewOld" class="text-danger"> </span>

                        </div>
                    </div>


                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Opening Amount</label>
                        </div>
                        <div class="col-md-4 mg-t-3 mg-md-t-0">
                            <input asp-for="mOpAmount" autocomplete="off" type="number" class="form-control text-right" id="mOpAmount" step=".01" min="0" onkeypress="return decimalCheck(this, event);" />

                            <span asp-validation-for="mOpAmount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Provision Interest</label>
                        </div>
                        <div class="col-md-4 mg-t-3 mg-md-t-0">
                            @*<input class="form-control text-right" asp-for="RateOfInterest" type="number" min="1" autocomplete="off" onkeypress="return isNumberKey(event)>*@
                            <input asp-for="SusInterestAmount" autocomplete="off" type="number" class="form-control text-right" id="SusInterestAmount" step=".01" min="0" onkeypress="return decimalCheck(this, event);" />

                            <span asp-validation-for="SusInterestAmount" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Last Transation Date</label>
                        </div>
                        <div class="col-md-5 mg-t-5 mg-md-t-0">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input asp-for="LastTransDate" type="date" id="LastTrDate" class="form-control" style="padding-left: 5px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;" required />
                            </div>
                            <span asp-validation-for="LastTransDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Interest Calculation Method</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">

                            <select class="form-control form-select select2" data-bs-placeholder="Please Select Calculation Method" asp-for="CalculationMethod" id="CalculationMethod">
                                <option value="Reducing Balance">Reducing Balance</option>
                                <option value="Stright Line">Stright Line</option>
                            </select>
                            <span asp-validation-for="CalculationMethod" class="text-danger"> </span>

                        </div>
                    </div>

                     <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Loan Status</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">

                            <select class="form-control form-select select2" data-bs-placeholder="Please Select Loan Status" asp-for="AccountStatus">
                                <option value="Active">Active</option>
                                <option value="Inative">Inative</option>
                            </select>
                            <span asp-validation-for="AccountStatus" class="text-danger"> </span>

                        </div>
                    </div>

      
                    <div class="form-group mb-0 mt-3 justify-content-end">
                        <div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
         $(document).ready(function() {
        $('.select2').select2();
         });
        document.getElementById("SenctionDate").valueAsDate = new Date();
        document.getElementById("ExpiryDate").valueAsDate = new Date();
        document.getElementById("ExpiryDate").disabled = true;
        document.getElementById("TransactionDate").valueAsDate = new Date();
        document.getElementById("TransactionDate").disabled = true;
        document.getElementById("LastTrDate").valueAsDate = new Date();
        LoanTypeChangeEvent()
        calcAmountPerInstallment()

        $("#LoanType").change(function () {
            LoanTypeChangeEvent()
        });

        $("#CalculationMethod").change(function () {
            calcAmountPerInstallment()
        });

        function LoanTypeChangeEvent() {
            var status = $("#LoanType").val();
            console.log("LoanType Value " + status)
            if (status == "New") {
                document.getElementById("LastTrDate").disabled = true;
                document.getElementById("mOpAmount").disabled = true;
                document.getElementById("SusInterestAmount").disabled = true;
                document.getElementById("LastTrDate").valueAsDate = new Date();
                console.log("New Status " + status)
            } else {
                document.getElementById("LastTrDate").disabled = false;
                document.getElementById("mOpAmount").disabled = false;
                document.getElementById("SusInterestAmount").disabled = false;
                document.getElementById("LastTrDate").valueAsDate = new Date();
                console.log("Else Status " + status)
            }
        }

        function calcAmountPerInstallment() {
           
            var calculationMethod = $("#CalculationMethod").val();
            console.log("calculation Method " + calculationMethod)

            var sAmount = document.getElementById("SenctionAmount").value;
            var sanctionAmount;
            var iRate = document.getElementById("RateOfInterest").value;
            var interestRate;
            var iNo = document.getElementById("NoOfInstallment").value;
            var installmentNo;

            if (sAmount != null && sAmount.trim().length !== 0) {
                sanctionAmount = parseFloat(document.getElementById("SenctionAmount").value);
                }
                else {  sanctionAmount = 0;}

            if (iRate != null && iRate.trim().length !== 0) {
                interestRate = parseFloat(document.getElementById("RateOfInterest").value);
            }
            else {  interestRate = 0;}
            if (iNo != null && iNo.trim().length !== 0) {
                installmentNo = parseFloat(document.getElementById("NoOfInstallment").value);
            }
            else {installmentNo = 0;}

            if (calculationMethod == "Reducing Balance") {

                if (installmentNo > 0) {
                    var interestAmount = (sanctionAmount * interestRate) / 100;
                    //var amountWithInterest = sanctionAmount + interestAmount;
                    var amountWithInterest = sanctionAmount ;
                    var amtPerInstallment = amountWithInterest / installmentNo;
                    console.log("amountPerInstallment " + amtPerInstallment)
                    document.getElementById('AmountPerInstallment').value = amtPerInstallment.toFixed(2);
                    
                }

                console.log("calculationMethod " + calculationMethod)
            } else {

                if (installmentNo > 0) {
                    var interestAmount = (sanctionAmount * interestRate) / 100;
                    //var amountWithInterest = sanctionAmount + interestAmount;

                    var amountWithInterest = sanctionAmount ;
                    var amtPerInstallment = amountWithInterest / installmentNo;
                    console.log("amountPerInstallment " + amtPerInstallment)
                    document.getElementById('AmountPerInstallment').value = amtPerInstallment.toFixed(2);

                }

                console.log("calculationMethod " + calculationMethod)

            }
        }

        document.getElementById("SenctionDate").onchange = function () {

            var x;
            var element = document.getElementById("DurationMonth").value;
            console.log(element);
            if (element != null && element.trim().length !== 0) {
                x = parseInt(document.getElementById("DurationMonth").value);
            }
            else {
                x = 0;
            }
            console.log("element " + element);
            console.log("df "+x);
            var CurrentDate = new Date(this.value);
            console.log(CurrentDate);
            CurrentDate.setMonth(CurrentDate.getMonth() + x);
            document.getElementById("ExpiryDate").valueAsDate = CurrentDate;

            console.log(dateFormat(CurrentDate))
            
         }
        document.getElementById("DurationMonth").onchange = function () {

            var x;
            var element = document.getElementById("DurationMonth").value;
            console.log(element);
            if (element != null &&  element.trim().length !== 0) {
                x = parseInt(document.getElementById("DurationMonth").value);
            }
            else {
                x = 0;
            }
            console.log("df2 " + x);
            var CurrentDate = new Date(document.getElementById("SenctionDate").value);
            console.log(CurrentDate);
            CurrentDate.setMonth(CurrentDate.getMonth() + x);
           // document.getElementById("ExpiryDate").valueAsDate = dateFormat(CurrentDate);
            document.getElementById("ExpiryDate").valueAsDate = CurrentDate;
            console.log(dateFormat(CurrentDate))

        }
        
       

        //function dateFormat(date) {

        //    const year = date.getFullYear();
        //    const month = ('0' + (date.getMonth() + 1)).slice(-2)
        //    const day = ('0' + date.getDate()).slice(-2)

        //    return `${year}-${month}-${day}`;
        //}

        


        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        function decimalCheck(element, event) {
            result = (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 46;
            if (result) {
                let t = element.value;
                if (t === '' && event.charCode === 46) {
                    return false;
                }
                let dotIndex = t.indexOf(".");
                let valueLength = t.length;
                if (dotIndex > 0) {
                    if (dotIndex + 2 < valueLength) {
                        return false;
                    } else {
                        return true;
                    }
                } else if (dotIndex === 0) {
                    return false;
                } else {
                    return true;
                }
            } else {
                return false;
            }
        }
          
            $('#EmpolyeeId').change(function () {
          
            var EmpId = $(this).val();
            if (EmpId.length > 0) {
                $.ajax({
                    
                    url: '/LoanInformation/GetEmployeeCPFBalance?EmpId=' + EmpId,                
                    method: 'post',
                    dataType: 'json',
                   
                    success: function (res) {
                        document.getElementById('mSecurityValue').value = res.maxId;
                        
                    },
                    error: function (res) {
                     
                        alert('error : ' + res);
                    }
                });
            }
        });

    </script>
}
