
<style>
   
</style>



<div class="row row-sm">
    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
        <div class="card  box-shadow-0">
            <div class="card-header">
                <h4 class="card-title mb-1">Individual CPF Ledger</h4>
             
            </div>
            <div class="card-body pt-0">
                <form >
                   
                   
                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Employee</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <select id ="EmpID"  class="form-control form-select select2" data-bs-placeholder="Please Select Employee"  asp-items="@(ViewBag.Employee as SelectList)">
                               
                            </select>
                          
                        </div>
                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">From Date</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <input class="form-control" placeholder="" id="FromDate" type="date">
                        </div>
                    </div>
                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">To Date</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <input class="form-control" placeholder="" id="ToDate" type="date">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



<div id="preview" class="row">
    <div class="col-md-12" style="text-align: center">
        <a onclick="callReport()" class="btn btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Report">
            <i class="fa fa-eye" aria-hidden="true"></i>
            Preview
        </a>
    </div>
</div>

<div>
    <a asp-action="Index">
        <button type="button" class="btn btn-outline-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-start-btn-fill" viewBox="0 0 16 16">
                <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9.71-6.907L7 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407v-5a.5.5 0 0 0-.79-.407z"></path>
            </svg>
            Back to List
        </button>
    </a>
</div>


<script asp-append-version="true" type="text/javascript">
    $(document).ready(function () {
        
        $('.select2').select2();
        
        const Fromdate = document.getElementById("FromDate");
        const Todate = document.getElementById("ToDate");

        // Create a new Date object with the current date
        const currentDate = new Date();

        // Format the date as "YYYY-MM-DD" (required for the input type="date" element)
        const year = currentDate.getFullYear();
        const month = String(currentDate.getMonth() + 1).padStart(2, '0');
        const day = String(currentDate.getDate()).padStart(2, '0');
        const formattedDate = `${year}-${month}-${day}`;

        // Set the formatted date as the value of the date field
        Fromdate.value = formattedDate;
        Todate.value = formattedDate;


    });


    function callReport() {
 
        var EmpID = $('#EmpID').val();
        var fromdate = $('#FromDate').val();
        var todate = $('#ToDate').val();
        console.log(EmpID);
     
        var url = "/Report/GetIndividualCPFLedger?fromDate=" + fromdate + "&todate=" + todate + "&EmpolyeeId=" + EmpID;
        console.log(url);
        reportView(url);
    }

</script>
