
@{
    ViewData["Title"] = "Report";
}



<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <span class="main-content-title mg-b-0 mg-b-lg-1">Report</span>
    </div>
    <div class="justify-content-center mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item tx-15"><a asp-action="Inex" asp-controller="Home">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Report</li>
        </ol>
    </div>
</div>
<div class="row">
<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="pd-30 pd-sm-20">

                <form >
                    
                    <div class="row row-xs mt-1">                      
                        <div class="col-md-4">
                               
                                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                    <i class="bi bi-person-bounding-box"></i>
                                    <span class="side-menu__label">&nbsp; &nbsp;Vouchers</span><i class="bi-caret-right-fill"></i>
                                    </a>
                                    <ul class="slide-menu">

                                    <li class="slide">
                                        <a onclick="PartialViewReport('_RPDrCrSuplementory')" class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                            <i class="bi-receipt"></i>
                                            <span class="side-menu__label">&nbsp; &nbsp;Debit & Credit Suplementory</span>
                                        </a>
                                    </li>
                                </ul>

                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                    <i class="bi bi-briefcase"></i>
                                    <span class="side-menu__label">&nbsp; &nbsp;Ledger</span><i class="bi-caret-right-fill"></i>
                                </a>
                                <ul class="slide-menu">
                                    
                                    <li class="slide">
                                        <a onclick="PartialViewReport('_RPSubsidiaryLedger')" class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                            @*<i class="bi bi-clipboard-data"></i>*@
                                            <i class="bi bi-columns"></i>
                                            <span class="side-menu__label">&nbsp; &nbsp;Subsidiary Ledger</span>
                                        </a>
                                    </li>

                                </ul>

                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                    <i class="bi-ui-checks"></i>
                                    <span class="side-menu__label">&nbsp; &nbsp;Trail Balance</span><i class="bi-caret-right-fill"></i>
                                </a>
                                <ul class="slide-menu">

                                    <li class="slide">
                                        <a onclick="PartialViewReport('_RPTrailBalanceBetweenDate')" class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                            @*<i class="bi bi-clipboard-data"></i>*@
                                            <i class="bi bi-lightbulb"></i>
                                            <span class="side-menu__label">&nbsp; &nbsp;Trail Balance Between Date</span>
                                        </a>
                                    </li>
                            

                                </ul>
                                    <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                        @*<i class="bi bi-bank"> </i>*@
                                    <i class="fab fa-slideshare"></i>
                                    <span class="side-menu__label">&nbsp; &nbsp;Income Statement</span><i class="bi-caret-right-fill"></i>
                                    </a>
                                    <ul class="slide-menu">
                                
                                        <li class="slide">
                                        <a onclick="PartialViewReport('_RPCPFLoanLedgerBalance')" class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                                <i class="bi bi-cash-stack"></i>
                                                <span class="side-menu__label">&nbsp; &nbsp;Branch Wise CPF Loan Balance</span>
                                            </a>
                                        </li>
                                                                                                     
                                    </ul>

                                     <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                        @*<i class="bi bi-bank"> </i>*@
                                    <i class="fab fa-slideshare"></i>
                                    <span class="side-menu__label">&nbsp; &nbsp;Statement Of Affairs </span><i class="bi-caret-right-fill"></i>
                                    </a>
                                    <ul class="slide-menu">

                                    <li class="slide">
                                        <a onclick="PartialViewReport('_RPStatementOfAffairs')" class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                            @*<i class="bi bi-clipboard-data"></i>*@
                                            <i class="bi bi-columns-gap"></i>
                                            <span class="side-menu__label">&nbsp; &nbsp;Statement Of Affairs</span>
                                        </a>
                                    </li>
                                                                                                     
                                    </ul>

                                <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                    <i class="bi-wallet-fill"></i>
                                    <span class="side-menu__label">&nbsp; &nbsp;MIS</span><i class="bi-caret-right-fill"></i>
                                </a>
                                <ul class="slide-menu">
                                    <li class="side-menu__label1"><a href="javascript:void(0);">Chart of Accounts</a></li>
                                    <li class="slide">
                                        <a onclick="PartialViewReport('_RPChartsOfAccounts')" class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
                                            <i class="bi-cash-coin"></i>
                                            <span class="side-menu__label">&nbsp; &nbsp;Chart of Accounts</span>
                                        </a>
                                    </li>
                                   
                                </ul>                             
                        </div>
                     
                           <div class="col-sm-8" style="border-left: 1px solid #DADADA;">
                                <div class="bg-primary text-white" style="font-size: 18px; padding: 6px; margin-bottom: 10px; border-radius: 5px;">
                                    <span><i class="fa fa-angle-double-down" aria-hidden="true"></i> Parameter</span>
                                    <span style="text-align: right;font-size: 11px;"></span>
                                </div>
                                <div id="reportParameter" style="min-height: 317px;"></div>
                            </div>

                    </div>
                  
               
                </form>
                    <div id="reportViewer" class="modal-block-danger mfp-hide" style="width: 100%;height: 90%;margin: auto;">
                        <section class="panel">
                            <header class="panel-heading">
                                <h2 class="panel-title">Report</h2>
                                <button class="btn btn-danger modal-dismiss" style="position: absolute; right: 20px; top: 10px;"><i class="fa fa-times" style="color: white !important;"></i></button>
                            </header>
                            <div class="panel-body">
                                <div id="reportView" class="modal-wrapper reportViewWrapper">
                                </div>
                            </div>

                        </section>
                    </div>
            </div>
        </div>
    </div>
</div>

</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <link href="~/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" />
    
    <link asp-append-version="true" href="~/assets/css/reportstyle.css" rel="stylesheet" />
    <script src="~/assets/plugins/magnific-popup/magnific-popup.js"></script>
    @* <script asp-append-version="true" src="~/js/reporting.js"></script>*@
    <script asp-append-version="true" src="~/js/model.js"></script>
    <script asp-append-version="true" type="text/javascript">
        var $reportParameter = $("#reportParameter");
        $(document).ready(function () {
          

        });

        $(document).on('click', '.modal-dismiss', function (e) {
            e.preventDefault();
            $.magnificPopup.close();
        });

        async function reportView(url) {
            $('#reportView').innerHTML = '';
            await $('#reportView').load(url);

            $.magnificPopup.open({
                items: {
                    src: '#reportViewer',
                    type: 'inline'
                },
                preloader: false,
                modal: true,
            });
            showLoader();
            //$('#reportViewer').parents('div').css('width', 'auto');
        };
        function showLoader() {
            $("<div/>").addClass('loader').appendTo($("#reportView"));
        };



        function PartialViewReport(v) {
           
                $('#preview').show();
                $reportParameter.html("");
                 var view = v;
             //  var view = '_RPEmployeeInfo';
                console.log(view);
                $.get("Report/PertialView?viewName=" + view, function (data) {
                    $reportParameter.html(data);
                   // selectRefresh();
               
            });
        }

    </script>
}
