<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <span class="main-content-title mg-b-0 mg-b-lg-1">Journal Voucher</span>
    </div>
    <div class="justify-content-center mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item tx-15"><a asp-action="Inex" asp-controller="Home">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Journal Voucher</li>
        </ol>
    </div>
</div>

<div>
    @*  <button type="button" asp-action="Create" class="btn btn-info"><a asp-action="Create">Create New</a></button>*@
    <a class="btn btn-primary" id="btnAdd">Create New <i class="fa fa-plus"></i></a>
    <br /><br />
</div>


    <div class="panel-body">
        <div class="row">
            <div class="col-sm-7">
                
                    <div class="mb-md">
                      @*  <a class="btn btn-primary" id="btnAdd">Add <i class="fa fa-plus"></i></a>*@
                    </div>

            </div>
            <div class="col-sm-5" style="display:flex;">
                @*<div class="input-daterange input-group" style="width:300px;margin-left: 60px;">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>*@
                    <input type="date" style="padding: 6px 5px;" class="form-control" name="start" id="fromDate">
@*                    <span class="input-group-addon">To</span>*@
                <label class="form-label mg-b-0"> To </label>
                    <input type="date" style="padding: 6px 5px;" class="form-control" name="end" id="toDate">
           @*     </div>*@
                <a href="#" onclick="reloadData();" class="fa fa-refresh" style="color: #0088cc;margin-left:10px;margin-top:5px;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reload"></a>
            </div>
        </div>
        
        <table class="table table-bordered table-striped"  id="tbJournalVoucher" width="100%">
            <thead>
                <tr>
                    <th style="font-size:12px;">Voucher</th>
                    <th style="font-size:12px;">Date</th>
                    <th style="font-size:12px;">Narration</th>
                    <th style="font-size:12px;">Dr.Amount</th>
                    <th style="font-size:12px;">Cr.Amount</th>
                    <th style="font-size:12px;">Attach ment</th>
                    <th style="font-size:12px;">Apporve Status</th>
                    <th style="font-size:12px;">Approve By</th>
                    <th style="font-size:12px;">Approve Time</th>
                    <th style="font-size:12px;">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


@section Scripts{

   <link href="~/assets/css/media-gallery.css" rel="stylesheet" />
    <script src="~/assets/plugins/magnific-popup/magnific-popup.js"></script>
    <script asp-append-version="true" src="~/assets/js/modal.js"></script>
    <partial name="_AttachmentView" />
    <partial asp-append-version="true" name="_JournalVoucher" />
    <script asp-append-version="true" src="~/assets/vendor/imagepreview/imagepreview.min.js"></script>

    <script asp-append-version="true" src="~/assets/js/jsaccounts/JournalVoucherList.js"></script>
    <script asp-append-version="true" src="~/assets/js/jsaccounts/journalVoucherService.js"></script>
    <script asp-append-version="true" src="~/assets/js/jsaccounts/service.js"></script>
    <script asp-append-version="true" type="text/javascript">

        $(document).ready(function () {
            $('.select2').select2();

        });

        $('.close').click(function () {
            $('#journalVoucher').modal('hide');
        });



    </script>
}