@model RCCLAccounts.Core.Models.BankNameModel

@{
    ViewData["Title"] = "Edit";
}

<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <span class="main-content-title mg-b-0 mg-b-lg-1">Bank</span>
    </div>
    <div class="justify-content-center mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item tx-15"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bank</li>
        </ol>
    </div>
</div>
<!-- /breadcrumb -->
<div class="row row-sm">
    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
        <div class="card  box-shadow-0">
            <div class="card-header">
                <h4 class="card-title mb-1">Bank</h4>           
            </div>
            <div class="card-body pt-0">
                <form class="form-horizontal" asp-action="Edit" method="post">
                    <input type="hidden" asp-for="BankId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Bank Name</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <input class="form-control" asp-for="BankNames" placeholder="Enter your bank name" type="text">
                            <span asp-validation-for="BankNames" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Address</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <input class="form-control" asp-for="Address" placeholder="Enter bank Address" type="text">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Telephone No</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <input class="form-control" asp-for="TelephoneNo" placeholder="Enter Telephone No" type="text">
                            <span asp-validation-for="TelephoneNo" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Managing Director</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <input class="form-control" asp-for="ManagingDirector" placeholder="Enter Managing Director name" type="text">
                            <span asp-validation-for="ManagingDirector" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Mobile No</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <input class="form-control" asp-for="MobileNo" placeholder="Enter Mobile No" type="text">
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group mb-0 mt-3 justify-content-end">
                        <div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
