@model RCCLAccounts.Core.Models.PasswordChangeModel
@{
    ViewData["Title"] = "Password Change";
}
@*@{
    var errors = ViewData.ModelState.Values.SelectMany(v => v.Errors);
}

@if (errors.Any())
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in errors)
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}*@

@*@if (!ViewData.ModelState.IsValid)
{
    <div id="errorMessage" class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
*@
<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <span class="main-content-title mg-b-0 mg-b-lg-1">Password Change</span>
    </div>
    <div class="justify-content-center mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item tx-15"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Password Change</li>
        </ol>
    </div>
</div>
<div class="row row-sm">
     <div class="card  box-shadow-0">
            <div class="card-header">
            <h4 class="card-title mb-1">Password Change</h4>
                @*<p class="mb-2">It is Very Easy to Customize and it uses in your website apllication.</p>*@
            </div>
            <div class="card-body pt-0">
            <form class="form-horizontal" asp-action="PasswordChange" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row row-xs align-items-center mg-b-20">
                    <div class="col-md-6">
                        <label class="form-label mg-b-0">Old Password:</label>
                    </div>
                    <div class="col-md-6 mg-t-4 mg-md-t-0">
                        <input id="OldPassword" asp-for="OldPassword" style="max-width:250px;" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>

                </div>

                <div class="row row-xs align-items-center mg-b-20">
                    <div class="col-md-6">
                        <label class="form-label mg-b-0">New Password :</label>
                    </div>
                    <div class="col-md-6 mg-t-4 mg-md-t-0">
                        <input id="NewPassword" asp-for="NewPassword" style="max-width:250px;" class="form-control"  />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                </div>

                <div class="row row-xs align-items-center mg-b-20">
                    <div class="col-md-6">
                        <label class="form-label mg-b-0">Confirm Password:</label>
                    </div>
                    <div class="col-md-6 mg-t-45 mg-md-t-0">
                        <input id="ConfirmPassword" asp-for="ConfirmPassword" style="max-width:250px;" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                </div>

               

                <button class="btn btn-primary pd-x-30 mg-r-5 mg-t-5" type="submit">Update</button>
                <button class="btn btn-secondary pd-x-30 mg-t-5" asp-controller="Home" asp-action="Index">Back</button>

                </form>

        </div>

            </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">


    </script>
}