<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
@*	<meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
	<meta name="Author" content="Spruko Technologies Private Limited">*@
	
	<!-- Title -->
	<title>RCCL ACCOUNTS</title>

	<!-- Favicon -->
	<link rel="icon" href="~/assets/img/brand/rcclfavicon.png" type="image/x-icon" />

	<!-- Icons css -->
	<link href="~/assets/css/icons.css" rel="stylesheet">

	<!--  bootstrap css-->
	<link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

	<!--- Style css --->
	<link href="~/assets/css/style.css" rel="stylesheet">
	<link href="~/assets/css/style-dark.css" rel="stylesheet">
	<link href="~/assets/css/style-transparent.css" rel="stylesheet">

	<!---Skinmodes css-->
	<link href="~/assets/css/skin-modes.css" rel="stylesheet" />

	<!--- Animations css-->
	<link href="~/assets/css/animate.css" rel="stylesheet">

</head>
<body class="ltr error-page1 bg-dark">

	<!-- Loader -->
	<div id="global-loader">
		<img src="~/assets/img/loader.svg" class="loader-img" alt="Loader">
	</div>
	<!-- /Loader -->

	<div class="square-box">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	@RenderBody()

	<!-- JQuery min js -->
	<script src="~/assets/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap js -->
	<script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
	<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Moment js -->
	<script src="~/assets/plugins/moment/moment.js"></script>

	<!-- eva-icons js -->
	<script src="~/assets/js/eva-icons.min.js"></script>

	<!-- generate-otp js -->
	<script src="~/assets/js/generate-otp.js"></script>

	<!--Internal  Perfect-scrollbar js -->
	<script src="~/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

	<!-- Theme Color js -->
	<script src="~/assets/js/themecolor.js"></script>

	<!-- custom js -->
	<script src="~/assets/js/custom.js"></script>

</body>
</html>