<button type="button" style="font-family: sans-serif; width: 90px;" id="btnEdit" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Save</button>
<button type="button" style="font-family: sans-serif;" id="btnCancel" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>