<button type="button" id="btnSaveNew" style="font-family: sans-serif;" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Save & New</button>
<button type="button" id="btnSave" style="font-family: sans-serif;width: 90px;" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
<button type="button" id="btnClear" style="font-family: sans-serif;width: 90px;" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i> Clear</button>
<button type="button" id="btnCancel" style="font-family: sans-serif;" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>